<% layout("/layout/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form 
      method="POST" 
      action="/listings/<%= 
      listing._id %>?_method=PUT" 
      class="needs-validation" 
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" 
          value="<%= listing.title %>" 
          type="text" 
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]"
         class="form-control"
         required
          >
         <%= listing.description %>
        </textarea>
      </div>
      <div class="mb-3">
        <p>Original listing image</p>
        <img src="<%= newImage %>">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input 
          name="listing[image]"
          type="file" 
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
           name="listing[price]" 
           value="<%= listing.price %>" 
           type="number"
           class="form-control"
           required
          />
          <div class="invalid-feedback">Please enter price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input 
            name="listing[country]"
            value="<%= listing.country %>"
            type="text" 
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter country</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
         name="listing[location]" 
         value="<%= listing.location %>" 
         type="text" 
         class="form-control"
         required
        />
        <div class="invalid-feedback">Please enter city</div>
      </div>
      <div class=".mb-3">
        <label for="category">Choose a Category:</label>
        <select name="category" id="category">
          <option value="Desert">Desert</option>
          <option value="Rooms">Rooms</option>
          <option value="Hotel">Hotel</option>
          <option value="View">View</option>
          <option value="Camping">Camping</option>
          <option value="Top-cities">Top-cities</option>
          <option value="Arctic">Arctic</option>
          <option value="Play">Play</option>
          <option value="Ski-in/out">Ski-in/out</option>
          <option value="Iconic-city">Iconic-city</option>
        </select>
      </div>
     
      <button class="btn edit-btn mt-3">Edit</button>
    </form>
  </div>
</div>