  <% layout("/layout/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-3">
    <h3><%= listing.title %></h3> <br>
  </div>
  <div class="card col-6 offset-3 show-card">
    <img src="<%= listing.image %>" class="card-img-top show-img" alt="<%= listing.title %>" />
    <div class="card-body mt-3">
      <p class="card-text">
        <%= listing.description %> <br>
        &#8377; <%= listing.price.toLocaleString("en-IN")%> <br>
        <%= listing.location %> <br>
        <%= listing.country %> <br>
      </p>
    </div>
  </div>
  <br />
  <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" 
      class="btn btn-dark col-1 offset-3 edit-btn">
      Edit
    </a>
    <br /><br />
    <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
      <button class="btn btn-dark col-13 offset-5">Delete </button>
    </form>
  </div>
  <div class="col-8 offset-3 mb-3">
    <hr>
    <h4>Leave a review</h4>
    <form 
      action="/listings/<%= listing.id %>/reviews" 
      method="POST" 
      novalidate 
      class="needs-validation"
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input 
          type="range" 
          min="1" 
          max="5" 
          id="rating" 
          name="review[rating]"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea 
          name="review[comment]" 
          id="comment" 
          rows="4" 
          cols="40" 
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please submit feedback</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
  </div>
</div>